In [1]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import tensorflow_datasets as tfds

import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('creditdata.csv')
numerical = ['DEFAULT', 'LIMIT_BAL', 'AGE', 'BILL_AMT1','BILL_AMT2', 'BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'USED_BAL', 'PAY_BAL']

In [3]:
df.rename({'PAY_0':'PAY_1','default payment next month':'DEFAULT'},inplace=True,axis =1)
df.head()

   ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  DEFAULT
0   1      20000    2          2  ...         0         0         0        1
1   2     120000    2          2  ...      1000         0      2000        1
2   3      90000    2          2  ...      1000      1000      5000        0
3   4      50000    2          2  ...      1100      1069      1000        0
4   5      50000    1          2  ...      9000       689       679        0

[5 rows x 25 columns]

In [4]:
def PaymentBalance(row):
  if sum([row['BILL_AMT' + str(i)] for i in range(1,7)]) > 0:
    return sum([row['BILL_AMT' + str(i)]- row['PAY_AMT' + str(i)] for i in range(1,7)])/sum([row['BILL_AMT' + str(i)] for i in range(1,7)])
  else:
    return 0

def UsedBalance(row):
  if row['LIMIT_BAL'] > 0:
    return np.mean([row['BILL_AMT' + str(i)]- row['PAY_AMT' + str(i)] for i in range(1,7)])/row['LIMIT_BAL']
  else:
    return 0

def NegativeBal(row):
  return sum([1 for i in range(1,7) if row['BILL_AMT' + str(i)]<0])

def ZeroBal(row):
  return sum([1 for i in range(1,7) if row['BILL_AMT' + str(i)]==0])

def ZeroPay(row):
  return sum([1 for i in range(1,7) if row['PAY_AMT' + str(i)]==0])

df['USED_BAL'] = df.apply(lambda x: UsedBalance(x), axis =1)
df['PAY_BAL']  = df.apply(lambda x: PaymentBalance(x), axis =1)
df['NEG_BAL']  = df.apply(lambda x: NegativeBal(x), axis =1)
df['ZERO_BAL']  = df.apply(lambda x: ZeroBal(x), axis =1)
df['ZERO_PAY']  = df.apply(lambda x: ZeroPay(x), axis =1)

In [5]:
categorical_cols = ['SEX','EDUCATION','MARRIAGE','PAY_1','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6','NEG_BAL','ZERO_BAL','ZERO_PAY']

In [6]:
df = pd.get_dummies(data=df, columns = categorical_cols)

In [7]:
df.drop(columns='ID', inplace = True)

In [8]:
from sklearn.model_selection import train_test_split
cols = list(set(df.columns) - set(['DEFAULT']))
X_train_full, X_test_full, y_train, y_test = train_test_split(df,df['DEFAULT'],test_size = 0.33, stratify = df['DEFAULT'])
X_train = X_train_full.drop(columns = 'DEFAULT')
X_test = X_test_full.drop(columns = 'DEFAULT')

-----------------------------------  COUNTERFACTUALS ---------------------------

In [9]:
from sklearn.neural_network import MLPClassifier

cfmodel = MLPClassifier(random_state = 10)
cfmodel.fit(X_train, y_train)

MLPClassifier(random_state=10)

In [10]:
!pip install dice_ml
import dice_ml
from dice_ml.utils import helpers  # helper functions

from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
numerical = ['LIMIT_BAL', 'AGE', 'BILL_AMT1','BILL_AMT2', 'BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'USED_BAL', 'PAY_BAL']
d = dice_ml.Data(dataframe = df, continuous_features = numerical, outcome_name = 'DEFAULT')
backend= 'sklearn'
m = dice_ml.Model(model = cfmodel, backend = backend)
exp = dice_ml.Dice(d, m, method = 'random')
query_instances = pd.DataFrame(X_test[0:1])
cfs = exp.generate_counterfactuals(query_instances, total_CFs=5, desired_class="opposite", verbose=False)

Collecting dice_ml
  Downloading dice_ml-0.7.2-py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 5.3 MB/s
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from dice_ml) (4.62.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from dice_ml) (1.0.1)
Requirement already satisfied: jsonschema in /usr/local/lib/python3.7/dist-packages (from dice_ml) (2.6.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from dice_ml) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from dice_ml) (1.1.5)
Requirement already satisfied: h5py in /usr/local/lib/python3.7/dist-packages (from dice_ml) (3.1.0)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py->dice_ml) (1.5.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->dice_ml) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->dice_ml) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->dice_ml) (1.15.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->dice_ml) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->dice_ml) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->dice_ml) (3.0.0)
Installing collected packages: dice-ml
Successfully installed dice-ml-0.7.2

100%|██████████| 1/1 [00:00<00:00,  1.01it/s]

In [11]:
query_instances

      LIMIT_BAL  AGE  BILL_AMT1  ...  ZERO_PAY_4  ZERO_PAY_5  ZERO_PAY_6
1420     200000   31       6618  ...           0           0           0

[1 rows x 114 columns]

In [12]:
current_cf = cfs.cf_examples_list[0].final_cfs_df
current_cf = current_cf.reset_index().drop(columns = ['index'])
current_cf

   LIMIT_BAL   AGE  BILL_AMT1  ...  ZERO_PAY_5  ZERO_PAY_6  DEFAULT
0   200000.0  31.0     6618.0  ...         0.0         0.0        0
1   200000.0  31.0     6618.0  ...         0.0         0.0        0
2   200000.0  31.0     6618.0  ...         0.0         0.0        0
3   200000.0  31.0     6618.0  ...         0.0         0.0        0
4   200000.0  31.0     6618.0  ...         0.0         0.0        0

[5 rows x 115 columns]

In [15]:
cfs.visualize_as_dataframe()

Query instance (original outcome : 1)

   LIMIT_BAL  AGE  BILL_AMT1  ...  ZERO_PAY_5  ZERO_PAY_6  DEFAULT
0     200000   31       6618  ...           0           0        1

[1 rows x 115 columns]

Diverse Counterfactual set (new outcome: 0.0)

   LIMIT_BAL   AGE  BILL_AMT1  ...  ZERO_PAY_5  ZERO_PAY_6  DEFAULT
0   200000.0  31.0     6618.0  ...         0.0         0.0        0
1   200000.0  31.0     6618.0  ...         0.0         0.0        0
2   200000.0  31.0     6618.0  ...         0.0         0.0        0
3   200000.0  31.0     6618.0  ...         0.0         0.0        0
4   200000.0  31.0     6618.0  ...         0.0         0.0        0

[5 rows x 115 columns]

In [14]:
import numpy as np

def get_metrics(dataset, cont, counterfactuals):
    
    
    data = d
    query = query_instances
    true_y = y_test[:5].reset_index().drop(columns = ['index'])
    
    
    mad_dict = data.get_mads(normalized=True)
    mad_df = pd.DataFrame.from_dict(mad_dict,orient='index')
    
    #for each counterfactual set
    cont_prox_l = []
    sparsity_l = []
    validity_l = []
    diversity_l = []
    #########CHANGE RANGE
    for cfset in range(1):
        
        cf_dc = []
        #get initial
        current_data = query.iloc[cfset]
        #get counterfactual set
        current_cf = counterfactuals.cf_examples_list[cfset].final_cfs_df
        current_cf = current_cf.reset_index().drop(columns = ['index'])

        disc_cont = 0
        spar_tracker = 0
        validity = 0
        diversity = 0
        for cf in range(len(current_cf)):

            for feature in cont:
               
                if current_cf.loc[cf,feature] != current_data[feature]:
                    spar_tracker+=1
                
                
                disc_cont += ((current_cf.loc[cf,feature]-current_data[feature])/mad_df.loc[feature].values[0])
                
                
            cf_dc.append(disc_cont*(1/len(cont)))

            if current_cf.iloc[cf,-1] != true_y.iloc[cf].values[0]:
                validity += 1
                
        disc_cont_div = 0
        cf_div = []
        for cf in range(len(current_cf) - 1):
            for cf1 in range(cf, len(current_cf)):
                for feature in cont:
                    disc_cont_div += ((current_cf.loc[cf,feature]-current_cf.loc[cf1,feature])/mad_df.loc[feature].values[0])
            cf_div.append(disc_cont_div*(1/len(cont)))
        
        #print(current_cf)
        diversity = sum(cf_div)/(len(current_cf)**2)
        diversity_l.append(diversity)

        cont_prox = sum(cf_dc)/len(current_cf)*-1
        
        cont_prox_l.append(cont_prox)
            
        sparsity_l.append(1-(spar_tracker/(len(current_cf)*len(cont))))
        
        validity_l.append(validity/len(current_cf))
    
    tot_cont_prox = sum(cont_prox_l)#np.mean(np.array(cont_prox_l))
    tot_sparsity = np.mean(np.array(sparsity_l))
    print('Avergage Diversity', np.mean(np.array(diversity_l)))
    print('Total Sparsity', tot_sparsity)
    print('Average Proximity', np.mean(np.array(cont_prox_l)))

    
get_metrics(d,numerical,cfs)

Avergage Diversity -6508095.969424704
Total Sparsity 0.925
[0.0]
Average Proximity -10778874.92662095